body {
    font-family: Arial, sans-serif; /* Set font for the entire document */
}
header {
    text-align: center;
    font-size: 13px;
}
.navigation {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .navigation ul li {
            margin-bottom: 10px;
        }

            .navigation ul li a {
                text-decoration: none;
                color: #333;
                font-size: 14px;
            }

                .navigation ul li a:hover {
                    text-decoration: underline;
                    color: blue;
                }
img {
    position: absolute;
    top: 100px; /* Adjust the top positioning as needed */
    right: 60px; /* Adjust the right positioning as needed */
    width: 250px; /* Set the width of the image */
    height: 270px; /* Set the height of the image */
}
.dark-mode {
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text */
}

    .dark-mode header,
    .dark-mode .navigation ul li a,
    .dark-mode .content {
        color: #fff; /* Change text color in header, navigation links, and main content */
    }

    .dark-mode main {
        background-color: #222; /* Darker background for the main content */
    }
main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Box holding all the info */
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Set font for the main content */
}
